@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800');

:root{
    --night:#141414;
    --night-80:#434343;
    --night-60:#727272;
    --night-40:#A1A1A1;
    --night-20:#D0D0D0;

    --lime:#CCFF00;
    --magnolia:#F7F0F5;

    font-family: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
}